/* src/style.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Parisienne&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

#app {
  min-height: 100vh;
  width: 100%;
}

/* Utilitários globais */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}